<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitWebAccess" version="0.5.3" targetFramework="wp71" />
  <package id="ImageTools" version="0.3.1" targetFramework="wp71" />
  <package id="Microsoft.Bcl" version="1.0.19" targetFramework="wp71" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="wp71" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="wp71" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="wp71" />
</packages>